layout {

    focus-ring {
        active-color   "#6f894e"
        inactive-color "#f2ecbc"
        urgent-color   "#c84053"
    }

    border {
        active-color   "#6f894e"
        inactive-color "#f2ecbc"
        urgent-color   "#c84053"
    }


    tab-indicator {
        active-color   "#6f894e"
        inactive-color "#c7d6b3"
        urgent-color   "#c84053"
    }

    insert-hint {
        color "#6f894e80"
    }
}

recent-windows {
    highlight {
        active-color "#6f894e"
        urgent-color "#c84053"
    }
}
