layout {

    focus-ring {
        active-color   "#a37a00"
        inactive-color "#fdf6e3"
        urgent-color   "#dc322f"
    }

    border {
        active-color   "#a37a00"
        inactive-color "#fdf6e3"
        urgent-color   "#dc322f"
    }


    tab-indicator {
        active-color   "#a37a00"
        inactive-color "#eecc67"
        urgent-color   "#dc322f"
    }

    insert-hint {
        color "#a37a0080"
    }
}

recent-windows {
    highlight {
        active-color "#a37a00"
        urgent-color "#dc322f"
    }
}
