layout {

    focus-ring {
        active-color   "#1e66f5"
        inactive-color "#eff1f5"
        urgent-color   "#d20f39"
    }

    border {
        active-color   "#1e66f5"
        inactive-color "#eff1f5"
        urgent-color   "#d20f39"
    }

    shadow {
        color "#dce0e870"
    }

    tab-indicator {
        active-color   "#1e66f5"
        inactive-color "#bdd0f4"
        urgent-color   "#d20f39"
    }

    insert-hint {
        color "#1e66f580"
    }
}

recent-windows {
    highlight {
        active-color "#1e66f5"
        urgent-color "#d20f39"
    }
}
